.box {
    box-shadow: darkgrey 0px 1px 4px;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    margin:10px auto;
    transition:box-shadow 0.7s ease 0s;
    -moz-transition:box-shadow 0.7s ease 0s;
    -webkit-transition:box-shadow 0.7s ease 0s;
    -o-transition:box-shadow 0.7s ease 0s;
}
.box:hover {
    box-shadow: none
}

.foldA {
    display:none;
}

.foldB {
    display:none;
}

.foldC {
    display:none;
}

.foldD {
    display:none;
}

.foldE {
    display:none;
}

a {
    text-decoration: none;
    color: #393939;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    transition:text-decoration 0.7s ease 0s;
    -moz-transition:text-decoration 0.7s ease 0s;
    -webkit-transition:text-decoration 0.7s ease 0s;
    -o-transition:text-decoration 0.7s ease 0s;
 }
a:hover {
     text-decoration: underline;
}

iframe {
     frameborder: 0;
     height 100%;
     width:100%;
}

body {
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}