.box {
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    margin:10px auto;
.box:hover {
    text-decoration:none;
    border-radius: 10px;
    background: #ffffff;
    padding: 10px;
    margin:10px auto;
    box-shadow: darkgrey 0px 1px 4px;
    animation:clicked 1s;
    animation-fill-mode: forwards;
    -moz-animation:clicked 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation:clicked 1s;
    -webkit-animation-fill-mode: forwards;
    -o-animation:clicked 1s;
     -o-animation-fill-mode: forwards;
    }
    @keyframes clicked{
    from {box-shadow: none;}
    to {box-shadow: darkgrey 0px 1px 4px;}}
    @-moz-keyframes clicked{
    from {box-shadow: none;}
    to {box-shadow: darkgrey 0px 1px 4px;}}
    @-webkit-keyframes clicked{
    from {box-shadow: none;}
    to {box-shadow: darkgrey 0px 1px 4px;}}
    @-o-keyframes clicked{
    from {box-shadow: none;}
    to {box-shadow: darkgrey 0px 1px 4px;}}

.picture {
    border-radius: 10px 10px 10px 10px;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin:10px auto;
    box-shadow: darkgrey 0px 1px 4px;
    text-align:center;
    color:darkgrey;
    }
    .picture *{
    margin: 0px;
    }